html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 90vw;
  max-height: 90vh;

}

table {  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

td {
  margin: 1px;
  padding: 10px;
  border: 1px solid black;
}

tr

.hide {
  background-color: dimgrey;

}

.timer {
  font-weight: bold;
  margin: 10px;
}

.smiley img {
  max-width: 100px;
  max-height: 100px;
}


span{  
  font-size: xx-large;
  margin: 0 10px
}