html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  max-height: 100vh;

}

table {  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
  border-collapse: collapse;
  border: 2px solid black;
}

td {
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  border: 2px solid black;
}

tr {
  margin: 1px;
  padding: 5px;
}

.hide {
  background-color: dimgrey;

}

.timer {
  font-weight: bold;
  margin: 10px;
}

.smiley img {
  max-width: 150px;
  max-height: 100px;
  cursor: pointer;
}

.emojis {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
}


span{  
  display: block;
  font-size: x-large;
  margin: 0 10px;
}


.heart {
  display: contents;
  margin-top: 30px;
  font-size: xx-large;
  width: 30px;
  height: 10px;
 
}

button {
  cursor: pointer;
  
}


